body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:760px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:706px;
  height:453px;
}
#u0 {
  position:absolute;
  left:54px;
  top:16px;
  width:706px;
  height:453px;
}
#u1 {
  position:absolute;
  left:2px;
  top:218px;
  width:702px;
  visibility:hidden;
  word-wrap:break-word;
}
